<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/default.css">
  {{#each styles}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
  {{#each scripts}}
    <script src="/scripts/{{this}}" defer></script>
  {{/each}}
</head>
<body>
  <header class="site-header">
    <div class="nav-left">
      <a href="/" class="site-icon">Site Icon</a>
    </div>
    <div class="nav-links">
      <a href="/auth">Login</a>
      <a href="/lobby">Lobby</a>
      <a href="/about">About</a>
    </div>
  </header>

  <main id="center_content">
    {{{body}}}
  </main>

  <footer class="site-footer">
    <div class="footer-content">
      {{> footer }}
    </div>
  </footer>
</body>
</html>
